{{ block global_scripts }}
        <script src="{{ static 'prevent_back.js' }}"></script>
        <script src="{{ static 'script.js' }}"></script>
        <script>
            $(document).ready(function() {
                // Format money display to show only number without currency sign
                var cashElement = $('#cashHolding');
                var cashValue = cashElement.text();
                // Remove currency symbol and convert to integer
                var cleanValue = Math.round(parseFloat(cashValue.replace(/[^\d.-]/g, '')));
                cashElement.text(cleanValue);
            });
        </script>
{{ endblock }}

{{ block global_styles }}
        <link rel="stylesheet" href="{{ static 'style.css' }}">
{{ endblock }}

{{ block title }}
Pre Market Information
{{ endblock }}

{{ block content }}
<noscript>
    <div id="jsError">ERROR: this page runs only with javascript enabled</div>
</noscript>

<p>Soon, {{ if player.round_number <= C.num_trial_rounds }} the trial round {{ else }} trading round {{ round }} {{ endif }} starts.</p>
<p style="margin-top: 0px; margin-bottom: 2px;">In this round you are endowed with:</p>

<div id="endowmentDiv" class="endowment-container row" style="margin-bottom: 10px">
    <div class="endowment-div col-sm div_box">
    <table id="endowmentTable" style="width: 100%;">
    <tr style="display: none;">
        <th>Your role</th>
        <td id="traderRole">
            {{ if player.isObserver }} Inactive observer {{ else }} Trader {{ endif }}
        </td>
    </tr>
        {{ if not player.isObserver }}
     <tr>
        <th style="width: 80%;">Money</th>
        <td id="cashHolding" style="text-align: right; width: 20%;">{{ player.cashHolding }}</td>
    </tr>
    <tr>
        <th style="width: 80%;">{% if player.framing == 'environmental' or player.framing == 'destruction' %}Carbon credits{% else %}Assets{% endif %}</th>
        <td id="assetsHolding" style="text-align: right; width: 20%;">{{ player.assetsHolding }}</td>
    </tr>
    <tr> {{ if player.allowShort }}
        <th>Your short selling limit</th>
        <td id="capShort">
            {{ player.capShort }}
        </td>
        {{ else }} {{ endif }}
    </tr>

    <tr> {{ if player.allowLong }}
        <th>Your credit limit</th>
        <td id="capLong">
            {{ player.capLong }}
        </td>
        {{ else }} {{ endif }}
    </tr>
  
    {{ else }} {{ endif }}
    </table>
    </div>
</div>

{% if not player.isObserver %}
{% if is_heterogeneous %}
<p style="margin-top: 15px; margin-bottom: 15px;">Note: The other players in your group have different assigned money endowments. They have {{ cash_values_display }}.</p>
{% else %}
<p style="margin-top: 15px; margin-bottom: 15px;">Note: All the other players in your group have the same money endowment of {{ homogeneous_cash }}.</p>
{% endif %}
{% endif %}

<p style="margin-top: 2px; margin-bottom: 2px;">The available goods have the following characteristics:</p>

<div style="margin-bottom: 20px;">
    <div class="endowment-container row" style="margin-bottom: 0px;">
        <div class="endowment-div col-sm div_box">
            <p style="margin-bottom: 4px; text-align: left; font-size: 1rem; font-weight: bold;">Good A</p>
            <table id="goodATable" style="width: 100%;">
            <tr>
                <th style="text-align: left; font-weight: normal; width: 80%;">Money price</th>
                <td style="text-align: right; width: 20%;"><strong>{{ goodA_money_price }}</strong></td>
            </tr>
            <tr>
                <th style="text-align: left; font-weight: normal; width: 80%;">{% if player.framing == 'environmental' or player.framing == 'destruction' %}Carbon price{% else %}Asset price{% endif %}</th>
                <td style="text-align: right; width: 20%;"><strong>{{ goodA_carbon_price }}</strong></td>
            </tr>
            <tr>
                <th style="text-align: left; font-weight: normal; width: 80%;">Satisfaction points</th>
                <td style="text-align: right; width: 20%;"><strong>{{ goodA_marginal_utility }}</strong></td>
            </tr>
            </table>
        </div>
    </div>
    <div class="endowment-container row">
        <div class="endowment-div col-sm div_box">
            <p style="margin-bottom: 4px; text-align: left; font-size: 1rem; font-weight: bold;">Good B</p>
            <table id="goodBTable" style="width: 100%;">
            <tr>
                <th style="text-align: left; font-weight: normal; width: 80%;">Money price</th>
                <td style="text-align: right; width: 20%;"><strong>{{ goodB_money_price }}</strong></td>
            </tr>
            <tr>
                <th style="text-align: left; font-weight: normal; width: 80%;">{% if player.framing == 'environmental' or player.framing == 'destruction' %}Carbon price{% else %}Asset price{% endif %}</th>
                <td style="text-align: right; width: 20%;"><strong>{{ goodB_carbon_price }}</strong></td>
            </tr>
            <tr>
                <th style="text-align: left; font-weight: normal; width: 80%;">Satisfaction points</th>
                <td style="text-align: right; width: 20%;"><strong>{{ goodB_marginal_utility }}</strong></td>
            </tr>
            </table>
        </div>
    </div>
</div>

    {{ next_button }}
{{ endblock }}